<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "/refinery/head" %>

    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <nav class="navbar navbar-inverse navbar-static-top im-nav">
      <div class="container">
        <ul class="nav navbar-nav im-nav-links">
          <li><a href="https://thenetmonitor.org">Internet Monitor</a></li>
          <li><a href="https://dashboard.thenetmonitor.org">Dashboard</a></li>
          <li><a href="https://accesscheck.thenetmonitor.org">AccessCheck</a></li>
          <li class="active"><a href="/">Data</a></li>
        </ul>
      </div>
    </nav>

    <div class="container" role="main">
      <div class="page-header">
        <h1>IM DATA</h1>
      </div>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <%= render "/refinery/footer" -%>
      </div>
    </footer>
  </body>
</html>
